<?php

return [
    'mbtec' => [
        'zfcache' => [
            'adapter' => 'memory',
            'global_options' => [
                'namespace' => 'application',
            ],
        ],
    ],
];
